<h1>画像投稿ページ</h1>

<%= form_for(@post) do |f| %>
	<%= f.label :title, "画像のタイトルを入力してね" %>
	<%= f.text_field :title %>

	<%= f.label :image, "画像選択してね" %>
	<%= f.file_field :image %>

	<%= f.submit "投稿する" %>
<% end %>
