<h1>画像投稿ページ</h1>

<%= form_for(@post) do |f| %>
	<%= f.label :title, "画像のタイトルを入力してね" %>
	<%= f.text_field :title %>

	<%= f.label :image, "画像を選択してね" %>
	<%= f.file_field :image, :accept => 'image/*' %>

	<%= f.label :video, "ビデオを選択してね" %>
	<%= f.file_field :video, :accept => 'video/*' %>

	<%= f.submit "投稿する" %>
<% end %>
